
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;

}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #B4CF66;
    padding-left: 20px;
    font-size:large ;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33
}

nav>a {
    color: white;
    font-weight:bold;
}

h1 {
    color:#146152;
}

h2 {
    color: black;
}

h3>a {
    color: #44803F;
}

table {
    background-color: white;
}

html {
    background-color: white;
}

.container-with-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 500px;
    margin-bottom: 65px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}
